{{title}}   ==>example of string interpollation use this  

<br>
==================================================
<p>This is example of Property Binding</p>
<p [innerHtml]="title"> This is example of Property Binding</p> 
<br>
==================================================<br>
<button (click)="plus()">Click me</button>
<p>Count is {{count}}</p>






<input type="text" name=""   (input)="takeInput($event)" id="">

====================================
<input type="text" [(ngModel)]="myname">
{{myname}}